@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@600;800 & display=swap');

body {
    background-image: url(imagens/fundo.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-left: 39px;
    margin-top: 20px;
    align-items: center;

}

.item1{
    margin-left: 137px;
    padding: 21px;
}

.item {
    padding: 21px;
}

.item-titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fffdfd;
    font-style: normal;
}

.item1, .item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

#form {
    display: flex;
    justify-content: flex-end;
    float: right;
    padding: 20px 30px;
    background: white;
    margin-right: 58px;
    margin-top: 20px;
    font-size: 20px;
    width: 320px;
    height: 480px;
    border-radius: 0.5em;
}

#titulo {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-left: 65px;
    padding-top: 200px;
}

#fale {
    width: 300px; 
    height: 115px; 
    resize: none;
    border-radius: 7px;
    background-color: #e7e7e7;
    border: none;
    margin-top: 7px;
    padding-bottom: 10px;
}

.titulo-form {
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 7px;
    font-weight: bold;
}

.item-form {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #252B42;
}

.ema {
    border: none;
    border-radius: 7px;
    height: 45px;
    width: 300px;
    background-color: #e7e7e7;
    margin-top: 7px;
}

.botao-form {
    background-color: #40BB15;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    border-radius: 2px;
    width: 310px;
    height: 60px;
}

.botao-form:hover {
    cursor: pointer;
    background-color: rgb(3, 173, 3);
}

.item:hover {
    cursor: pointer;
    color: rgb(218, 218, 214);
}

.item1:hover {
    cursor: pointer;
    color: rgb(218, 218, 214);
}

#princi {
    margin-top: 258px;
    width: 1339px;
    height: 550px;
    background: rgb(255, 255, 251);
}

.nosso {
    padding-top: 65px;
    font-family: 'Montserrat', sans-serif;
    color: #252B42;
    font-size: 43px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
}

.t1, .t2, .t3 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    background: #40BB15;
    width: 290px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    padding-top: 28px;
    font-size: 18px;
    font-weight: bold;
}

.itens {
    width: 269px;
    height: 150px;
    background: #deebfa;
    padding-top: 18px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #737373;
    padding-left: 20px;
}

.i1, .i2, .i3 {
    float: left;
    margin-left: 100px;
}

#nos {
    background: #011d36;
    margin: none;
    padding: none;
    height: 620px;
}

.sobre {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.texto {
    font-family: 'Montserrat', sans-serif;
    width: 950px;
    color: #FFFFFF;
    font-size: 25px;
    padding-left: 200px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: rgb(218, 218, 214);;
}